<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/index.css"/>
    </head>
    <body>
        <div th:fragment="exerciseTable">
            <form hx-post="/exercises/add" th:object="${newExercise}">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Sets</th>
                            <th>Reps</th>
                            <th>Extra Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ex : ${exercises}">
                            <td th:text="${ex.getName()}"></td>
                            <td th:text="${ex.getSets()}"></td>
                            <td th:text="${ex.getReps()}"></td>
                            <td th:text="${ex.getExtraInfo()}"></td>
                        </tr>
                        <tr>
                            <td><input type="text" th:field="*{name}"></td>
                            <td><input type="text" th:field="*{sets}"></td>
                            <td><input type="text" th:field="*{reps}"></td>
                            <td><input type="text" th:field="*{extraInfo}"></td>
                            <input type="hidden" th:field="*{day}">
                        </tr>
                    </tbody>
                </table>
                <ul>
                    <button class="btn-base day-btn montserrat-default" type="submit">Add exercise</button>
                    <button class="btn-base delete-all-btn montserrat-default" type="button">Delete all exercises</button>
                </ul>
            </form>
        </div>
    </body>
</html>