<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="table-wrapper">
        <ul>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="MONDAY" hx-get="/exercises" hx-target="#exercises-table">Monday</button>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="TUESDAY" hx-get="/exercises" hx-target="#exercises-table">Tuesday</button>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="WEDNESDAY" hx-get="/exercises" hx-target="#exercises-table">Wednesday</button>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="THURSDAY" hx-get="/exercises" hx-target="#exercises-table">Thursday</button>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="FRIDAY" hx-get="/exercises" hx-target="#exercises-table">Friday</button>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="SATURDAY" hx-get="/exercises" hx-target="#exercises-table">Saturday</button>
            <button class="btn-base day-btn montserrat-default" name="day" th:value="SUNDAY" hx-get="/exercises" hx-target="#exercises-table">Sunday</button>
        </ul>
            <br>
            <div id="exercises-table"></div>
    </div>
</body>
</html>