<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WorkingOut-Login</title>
    <link rel="stylesheet" href="/login.css"/>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="login-box-wrapper"class="login-box-wrapper">
        <div>
            <div th:if="${loginFail}" class="login-fail-alert">
                <strong>Failed to login</strong>
            </div>
            <div class="login-box">
                <form hx-post="/login" hx-target="#login-box-wrapper" hx-swap="outerHTML" th:object="${user}">
                    <input type="text" id="username" placeholder="Username" th:field="*{username}">
                    <br>
                    <input type="password" id="password" placeholder="Password" th:field="*{password}" >
                    <br>
                    <input type="submit" value="Login">
                    <input type="button" hx-post="/register" value="Register">
                </form>
            </div>
        </div>
    </div>
</body>
</html>